# Remove all Aseprite and .ini files
*.aseprite
*.ini

# Characters/ is in-progress! Showing limited options as we finalize animations
*Characters/_ Development Files
*Characters/Head Accessories

# Ignore folders for Work-In-Progress categories for the moment
/Animals/
/FX/
/Nature/
/UI/

# Packs released on other sites (namely OpenGameArt.org)
/_Packs/

# Ignore my template folders
*Credits Template.txt